<h1>Make a Reservation for <%= @restaurant.name %></h1>
<% Time.zone = 'EST' %>
<% current_time = DateTime.now %>

<%= link_to "Back to all Restaurants", restaurants_url %>

<p><%= form_for [@restaurant, @reservation] do |f| %>
<%= f.datetime_select :time, :ampm => true, :start_year => current_time.year, :start_month => current_time.month, :start_day => current_time.day, :start_hour => current_time.hour %> </p>
<p>
<%= f.label :party_size, "Number of Guests:" %>
<%= f.number_field :party_size, :min => 2 %>
</p>
<%= f.submit %>
<% end %>

